/* Write your CSS code here. */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #ffeeee, #ffebeb, #ffc0bb);
}
.question-container {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 60vw;
  background-color: #ffffff;
  border-radius: 10px;
}
.question {
  font-family: 'Roboto';
  text-align: center;
  font-size: 35px;
  color: #0f172a;
}
.emojis-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.emoji-button {
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}
.emoji-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emoji-image {
  height: 60px;
  width: 90px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.emoji-text {
  font-family: 'Roboto';
  font-size: 23px;
  color: #1e293b;
  font-weight: 500;
}
.response-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 60vw;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}